[2015-07-08 17:06] julianlam opened #1 "Add admin page with checks for markdown sanitizeHTML setting"

[2015-07-17 15:25] lslzl3000 opened #2 "enable upload files, images?"
How to enable upload files in the composer?

[2015-07-17 15:26] julianlam commented on #2
Hi there @lslzl3000, this is not implemented yet, unfortunately. If you want to enable file uploads, you'll have to switch back to the regular composer _for the time being_.

I may look into doing this today.

[2015-07-17 15:44] lslzl3000 commented on #2
Thanks for your reply!
I'm new to this community, great platform. I'll study its structure and try to make some contribution to nodebb.
I have noticed that you are(are you?) the main developer in this community, and I'm going to develop a forum for a startup team, many changes & functions shall be made. Can I ask you for help if any problems or questions?

[2015-07-17 15:45] julianlam commented on #2
Your best bet is to start threads in [our community forum](https://community.nodebb.org). More answers there :smile:

[2015-07-22 14:29] julian9444 commented on #2
The plugin is very well , but it lacks the icon to upload a picture

[2015-07-23 11:45] APXEOLOG opened #3 "Button tooltips"
Hi! There are tootips in the official redactor http://imperavi.com/redactor/
Why don't we have them?

[2015-07-23 11:48] drewdotpro commented on #3
Thank you for your input! =)
Redactor is a new addition to the NodeBB package. There is lots more to do. If you're a developer please feel free to add button tooltips and send a pull request.

[2015-07-23 11:49] julianlam commented on #3
It's odd though, I noticed this as well. I thought the tooltips came with the default settings...

[2015-07-28 13:01] exomarty opened #4 "Safari broken"
Cant write text on safari browser, mac & iOS

[2015-07-29 23:47] philburr commented on #3
The problem with the tooltip is the z-index.
nodebb-plugin-composer-default/static/less/composer.less:
.composer {
    z-index: 10000;
}

nodebb-plugin-composer-redactor/static/less/redactor.less:
.redactor-dropdown {
    z-index: 1052;
}
#redactor-modal {
    z-index:1053;
}

Redactor styling has quite a few things that end up underneath the composer area because of z-order.  It's pretty easy to

[2015-07-29 23:50] philburr opened #5 "Needs server side html validation"
nodebb-plugin-composer-redactor requires that you turn off HTML sanitization in the markdown plugin.  Although redactor does provide client side sanitization, one can easily inject XSS into a site by opening up a dev console in chrome and calling socket.emit() to manually create a post with malicious javascript.

[2015-07-31 19:34] #5 closed, assigned to nobody

[2015-07-31 19:35] drewdotpro commented on #3
Should be sorted in 1.0.5

[2015-07-31 19:35] #3 closed, assigned to nobody

[2015-07-31 20:48] philburr opened #7 "blockquote style in redactor differs from actual post"
Styling needs to be corrected.

[2015-08-01 12:10] mrgame64 commented on #4
I'm unable to reproduce the problem on Safari in OSX 10.10, it works just fine

[2015-08-01 12:44] exomarty commented on #4
Mmm, maybe a theme issue then. wich theme you tried?

[2015-08-01 12:47] mrgame64 commented on #4
I'm using Persona

[2015-08-01 22:42] tfraley commented on #4
I'm noticing the same thing. Cannot type in safari but works fine in chrome..
I'm using the material design theme.

[2015-08-03 01:09] mrgame64 commented on #4
Okay, now I was able to reproduce the issue. The theme doesn't seem to matter

[2015-08-03 01:13] mrgame64 commented on #4
What versions of NodeBB are you all using, and did you have the same problem with a previous version?

[2015-08-03 01:14] tfraley commented on #4
I'm running 0.10.25

Works fine in chrome but doesn't want to work in safari

[2015-08-03 01:21] mrgame64 commented on #4
I think that in such a critical case, the Redactor's support at Imperavi should be contacted, but only @drewdotpro who actually owns the license is able to do it, apparently.

[2015-08-03 01:29] mrgame64 commented on #1
Wasn't this issue solved with 0f889824eebc31cbd5c766c51a1975e530d3e488?

[2015-08-04 07:57] exomarty commented on #4
doubt is a redactor issue because the editor works fine on his website demo on safari

[2015-08-04 14:55] julianlam commented on #1
.... yes :smile:

[2015-08-04 14:55] #1 closed, assigned to julianlam

[2015-08-04 14:57] mrgame64 commented on #4
I've noticed that too, the problem must be within this plugin's implementation of Redactor

[2015-08-05 13:48] mrgame64 opened #9 "Markdown support"
Currently when using Markdown in Redactor, it doesn't seem to be parsed by the Markdown plugin.

Would it be possible to support Markdown parsing alongside with HTML?

[2015-08-05 15:32] julianlam commented on #9
@drewdotpro might know best, actually. Now that Redactor has its own server-side sanitisation, you could have the markdown plugin and redactor running at the same time...

[2015-08-11 20:18] PAEz opened #10 "How to add a button?"
With the default composer its rather easy to add extra buttons, I cant figure how to do it properly with this?
Any tips would be appreciated.
The docs (I think) are showing how to add a button when starting redactor?
You can add one using external api stuff once redactor has started, but then the script has to wait....I know how to do that crap (I like making chrome extensions) but thats bleh.
I c

[2015-08-11 20:23] julianlam commented on #10
Hm... well, Redactor supports callbacks for events, take a look here: http://imperavi.com/redactor/docs/callbacks/

However, it looks like we don't use 'em: https://github.com/NodeBB/nodebb-plugin-composer-redactor/blob/master/static/lib/client.js#L27-L29

We can add it in, however...

@drewdotpro, perhaps fire off a `$(window).trigger('action:composer.refactor.loaded');` here?

[2015-08-11 20:31] PAEz commented on #10
That bit of the doc like so much has this `$('#redactor').redactor({` which is targeting something with the id of redactor.
Could the textarea have that added to it for ease?  Right now it doesnt seem to have any id and I wasnt sure how to query it.
All of those ones rely on redactor already being started, so a full proof way of knowing thats happened would be great.
But also if there was a proper

[2015-08-12 19:39] tfraley commented on #4
Just decided to test it again and still runing into the same issue. I would love to use redactor, but  currently can not. Any one have any suggestions?

[2015-08-12 19:49] julianlam commented on #4
Hey guys, what errors do you see in the web inspector?

[2015-08-12 19:50] julianlam commented on #10
If we fire a client-side hook, you'd be able to listen for it with a `$(window).on();`, and we'd pass in the redactor composer's element reference for you to use.

[2015-08-12 19:53] tfraley commented on #4
@julianlam I just hit you up in chat on nodebb.. I just enabled reactor if you want to take a peek

[2015-08-12 19:57] tfraley commented on #4
@julianlam I don't see any errors that's what is strange.
Safari 8.0.7 & also tested on my dev mashine running Safari 9.0 with same results

[2015-08-12 19:59] tfraley commented on #4
@julianlam also I will add if I go into HTML mode I can type fine

[2015-08-13 07:03] yariplus commented on #10
I was trying to do this today and ended up doing it this way.

[code]

and client example:

[code]

Using `action:composer.redactor.loaded` didn't work for me because it's triggered twice. Once for `action:composer.loaded` and once for `action:composer.redactor.loaded` because of how event namespaces work.

My Thoughts:
It might be nice to have an action thrown for every Callback, and add them to

[2015-08-13 08:11] PAEz commented on #10
@yariplus Im new at this and not sure where you put the first block of code?...pretty sure I know where to put the second.
Id like to be able to use your way, coz by the sounds of it its gonna work like that eventually and that looks good enough to me.

[2015-08-13 15:39] mrgame64 commented on #9
They actually are both enabled, but I don't see any Markdown getting parsed

[2015-08-13 19:27] yariplus commented on #10
@PAEz The first part I put here: https://github.com/NodeBB/nodebb-plugin-composer-redactor/blob/master/static/lib/client.js#L23-L30

[2015-08-14 22:46] JamesJ opened #11 "Question: can you add some more features?"
Hi,
Would it be possible to add code & spoilers?
I've tried all of the spoiler plugins, and none of them are working with your plugin (and I've tried with Markdown enabled and disabled, and Sanitization enabled and disabled) same with the code plugin.

Thanks

[2015-08-15 12:53] PAEz commented on #10
@yariplus Thanks for that, sorry for the late reply.  So its changing the redactor core, think Ill stick with my above until something gets put in for real....but then again the end result will prolly work like this.....come on guys, put some hooks in ;)

[2015-08-16 12:37] drewdotpro commented on #11
We're certainly looking into adding features. If you're able to code in JavaScript feel free to reference the redactor API and update the plugin.

[2015-08-16 12:39] drewdotpro commented on #10
@PAEz when you say 'redactor core' do you mean this plugin or the redactor js itself?

[2015-08-16 12:40] drewdotpro commented on #9
Hmm, worth investigating. But I think it's important to remember that the aim of Redactor is a WYSIWYG. I'll leave this issue open as it's worth looking into.

[2015-08-16 12:41] drewdotpro commented on #4
Without Safari or a Mac I can't look at this. Can anyone else?

[2015-08-16 13:02] PAEz commented on #2
Ive decided Id like a WYSIWYG editor, but no uploads (want the to imgur stuff later) is a bummer so I had a look.
The way things are it aint good.
Redactor looks real cool, but isnt very flexible.
Redactor needs a way to add headers as its seems you need to add this header...
`'x-csrf-token': csrf.get()`
You also need to setup the image upload settings like so...

[code]

..so that it sends to the

[2015-08-16 13:08] drewdotpro commented on #2
@PAEz thanks so much for including this.
I'm going to contact imperavi about it and see if it's something they'd consider including.

[2015-08-16 13:12] PAEz commented on #2
@drewdotpro Sweet!
The way the keys handled should definitely be different, should be handled where ever that key is actually used but couldnt be bothered looking for it ;) (it should just change the key it references rather than copy it to the one it usually expects).  Other than that I cant see why itd be bad/unsafe?

[2015-08-16 13:44] PAEz commented on #10
@drewdotpro Sorry, I meant the plugins core.  Id rather not have to change anyone elses code, I figure this will get added soon....it really should ;)

[2015-08-16 13:58] drewdotpro commented on #10
@PAEz if you and @yariplus have an improvement here that can be implemented by improving the plugin's core, feel free to put it together into a change request. That's the whole idea of its GitHub =D

[2015-08-16 14:13] PAEz commented on #10
@drewdotpro hehe, no offense to you or the multitude of coders on github, but WHY does everyone ask for pull requests for a few lines of code that was already shown to you?  Why does noone just say 'yea' and add it, or 'no' and not have to wast our time branching, changing, pushing.  I know Im just being slack, but isnt everyone else?

Anyway, Im always hesitant to add/change anything I dont have

[2015-08-16 14:17] JamesJ commented on #11
Unfortunately I can't code in JavaScript (well at least).
Any sort of ETA for something like this?

[2015-08-16 14:44] tfraley commented on #4
@drewdotpro I don't know a ton about nodebb or the plugin's but I can lend a hand if you need something specific. I will be in the office 8am pst tomorrow hit me up any time after that

[2015-08-16 19:46] yariplus commented on #10
@PAEz Yeah, there are a number of problems with the way I did it, which is why I didn't send a PR. I think I have a much better solution I might post today though.

[2015-08-17 09:19] segura2010 commented on #4
Fixed on my pull request https://github.com/NodeBB/nodebb-plugin-composer-redactor/pull/12

[2015-08-17 09:22] drewdotpro commented on #4
Thank you @segura2010

[2015-08-17 09:22] #4 closed, assigned to nobody

[2015-08-17 10:18] yariplus opened #13 "Injecting Javascript, etc"
I found several ways to inject arbitrary Javascript into posts. The easiest two being the onmousedown/up/over attributes and using the url() css construct. With some tags, these are not parsed out whatsoever.

You are also not sanitizing on post edit at all, because the passed object is different from what you are expecting.

[2015-08-18 08:08] PAEz commented on #11
There's a big difference to the way this works compared to the default composer that makes some things like this hard.
In the default composer you write stuff with tags and then it gets converted to what you see and thats that.
In redactor its a two way street and editable at both ends.
What you see is actually the result and you can edit it.
When you click the source icon it does some vodoo and t

[2015-08-22 08:36] Pilvinen opened #15 "Add support for Nodebb default quote system"
When you press "quote" to reply to a thread it should have Redactor support so that you don't have to manually select the quote and click format -> quote to turn it into the actual quoting format.

[2015-08-22 13:07] Pilvinen commented on #13
Very worrisome. I hope this is addressed as soon as possible.

[2015-08-22 16:05] yariplus commented on #13
My PR fixes most of the problems. I think @drewdotpro just hasn't gotten a chance to look over it properly yet.

[2015-08-23 10:12] #13 closed, assigned to nobody

[2015-08-23 10:17] drewdotpro commented on #10
@PAEz People ask for PR because a) you know the fixer's implementation is correctly done as they have full understanding of it and b) many developers use their github to show their work for employers etc so they deserve the credit.
@yariplus If you've solved this a PR is most welcome.

[2015-08-23 13:35] drewdotpro commented on #7
Fixed by changing templates to give inheritance.

[2015-08-23 13:35] #7 closed, assigned to nobody

[2015-08-23 13:36] drewdotpro commented on #15
Ah yeah the current behaviour is pretty gross for that. Thanks for flagging it up.

[2015-08-23 13:53] drewdotpro commented on #15
@julianlam I know what I need to do here, instead of taking the content and wrapping it in markdown quote I need to take it and wrap it in a <blockquote> tag. But where on earth does that happen? And how do I override it?

[2015-08-23 14:03] drewdotpro commented on #15
Ok so it looks like it's done here
https://github.com/NodeBB/NodeBB/blob/305c54a727edbb861ef67642f8bbc77ecdd2c027/public/src/client/topic/postTools.js#L144

and here
https://github.com/NodeBB/NodeBB/blob/305c54a727edbb861ef67642f8bbc77ecdd2c027/public/src/client/topic/postTools.js#L182

How does a plugin go about overriding this?

[2015-08-23 18:08] drewdotpro commented on #15
In disucssion here:
https://community.nodebb.org/topic/6341/override-the-default-reply-behaviour

[2015-08-23 18:30] drewdotpro commented on #15
https://github.com/NodeBB/NodeBB/issues/3468

[2015-08-24 09:38] yariplus commented on #10
Hmmmmm, @PAEz 's method actually works. Any triggers or methods I add are just Syntactic Sugar. Not sure if it would be worth it.

Nevertheless, I have written such a PR.

[2015-08-24 20:08] #10 closed, assigned to nobody

[2015-08-28 08:57] drewdotpro commented on #2
I'm going to pick this up over the weekend. As Imperavi essentially only want to fix bugs I think the smartest plan to be able to keep their code in line with ours is for me to create a branch for it where I put only their changes and then use a rebase approach to be able to maintain our changes against theirs.

[2015-08-28 08:58] drewdotpro commented on #2
I think I also need to look into how to configure this to work with imgur (for bedroom coder l33ts) and S3 (for professional coder l33ts).

[2015-08-29 11:08] yariplus commented on #2
Hey @drewdotpro, I've been messing around with this for a while.

In the client script, you can actually just override the function sendData. It might be a better option since I doubt we'll be making a ton of changes.

I tested it and it worked out-of-the-box with the imgur and s3 plugins.

[2015-08-29 11:25] drewdotpro commented on #2
Hmm, the downside there is if they make changes to their sendData function we'd not get them. It's certainly easier and less messy than doing rebases. Tough call. I'll mull it over while I'm at the pub.

[2015-08-30 20:27] drewdotpro commented on #2
I am taking the rebase approach for maintaining this repo.
Image uploads supported in 1.0.12

[2015-08-30 20:27] #2 closed, assigned to nobody

[2015-08-30 20:53] drewdotpro commented on #9
I don't think this can play. Essentially you'll get people who don't know what markdown is getting random formatting in their text they weren't expecting.

[2015-08-30 20:53] #9 closed, assigned to nobody

[2015-08-30 21:13] psychobunny commented on #9
Just wanted to add that a few NodeBB plugins do use the parse.post hook and adds markdown-flavoured text. It's obviously not the fault of this composer but its a problem that needs looking into.

Ex: http://www.dutchstartuphub.com/topic/30/nederlandse-social-start-up-closing-the-loop-sluit-succesvol-eerste-investeringsronde-af

With nodebb-plugin-rss by @barisusakli

[2015-08-30 22:58] psychobunny commented on #15
@barisusakli added support for this in btw, just in case you didn't notice :)

[2015-08-30 23:09] drewdotpro commented on #15
Thanks, yes I had a look but couldn't figure out how to get this going:
https://community.nodebb.org/topic/6093/official-redactor-composer-now-available-in-0-7-1/61

[2015-08-31 03:13] yariplus commented on #2
Nice, but any idea why this isn't working with Imgur for me? It's puking all over the screen about eventemitters reaching the max.

[2015-08-31 03:21] barisusakli commented on #2
Can you post stack trace, nodebb githash, imgur plugin version etc.

[2015-08-31 03:49] yariplus commented on #2
e0101fcd248fb5ae7a848a8e452b4dd1332de094

Imgur version 1.0.6

[code]

[2015-08-31 03:54] barisusakli commented on #2
Did you setup an imgur app with key/secret and click authorize in the plugin page?

[2015-08-31 03:55] yariplus commented on #2
Hmm, I did, but maybe it got erased when I updated it last, one sec.

Nope, everything was still setup. Did a re-authorize just to make sure and still persists.

[2015-08-31 03:58] barisusakli commented on #2
Nvm I reproduced working on a fix.

[2015-08-31 04:01] yariplus commented on #2
:+1:

[2015-08-31 05:31] barisusakli commented on #2
published nodebb-plugin-imgur 1.0.7

[2015-08-31 05:57] yariplus commented on #2
`30/8 21:55 [23101] - error: [plugins] filter:uploadImage,  [[error:invalid-refresh-token]]`

Any idea?

[2015-08-31 06:10] barisusakli commented on #2
That happens when the imgur app isn't authorized

[2015-08-31 10:30] drewdotpro commented on #11
I'm looking at code blocks now. I've got a branch to add a button to allow special blocks like code, and it parses the block and puts in different styles and blocks around it. See the codeblocks branch if you wanna play around.

My plan is to wrap it in a pre in the WYSIWYG and then have highlight.js run on it once you submit it. Code will be be styled without colour in WYSIWYG, but I'm not seeing

[2015-09-06 14:15] drewdotpro commented on #15
Fixed in 1.1.1 =)

[2015-09-06 14:15] #15 closed, assigned to nobody

[2015-09-06 14:19] drewdotpro commented on #11
Code with syntax highlighting is a no-go because Redactor can't support not ruining the data when you flick between code and WYSIWYG view.
There's still the 'code' option in formatting, it just won't have syntax highlights.

[2015-09-07 01:23] exomarty opened #17 "Composer transform makes icons to appear blurry"
this class from nodebb composer that transform composer size makes icons to apper blurry

![captura de pantalla 2015-09-07 a las 3 19 45](https://cloud.githubusercontent.com/assets/10746278/9707670/7f3af2b2-550f-11e5-867e-18e289638eb0.png)

blurry
![captura de pantalla 2015-09-07 a las 3 20 20](https://cloud.githubusercontent.com/assets/10746278/9707675/9ed6119c-550f-11e5-9a67-e42d190a023a.png)

n

[2015-09-07 05:52] exomarty opened #19 "Minimizing composer keeps button bar visible"
explained in title

[2015-09-07 05:55] exomarty opened #20 "Save draft on reload"
Reloading page loses composer content. Composer default does it so this is a possible enhancement.

[2015-09-09 16:24] masterbrecords opened #21 "Localisation"
Hi,
did I miss something, or is the plugin currenty only in English?
I could help you with the german translation :)

[2015-09-11 12:53] Errapolis opened #22 "Firefox issues - highlighting, editing text"
Using Firefox on Win7, I found the following issues:

 Highlighting text (either by double-clicking a word or click-and-drag highlighting) doesn't work at all, unless done in HTML mode.
 Highlighting text in HTML mode, then clicking "link" to add a hyperlink: the "selected" text isn't added to the "Text" box in the "Insert link" popup, and must be retyped.

No similar problems in Chrome.

NodeBB v

[2015-09-13 10:10] drewdotpro commented on #22
Confirmed as an issue present in NodeBB Redactor, but not Redactor editor on official site. Can recreate. No idea what the cause is yet.

[2015-09-13 10:22] drewdotpro commented on #22
This is caused by .composer having
-moz-user-select: none

@julianlam I can override this, but wondering why it's there at all?

[2015-09-13 10:25] drewdotpro commented on #21
If it were only template files then updating it to use a new language file would be easy. As so much of the "English only" components are inside the redactor.js file from Imperavi, updating it will be much harder. Marked for a V2 improvement.

[2015-09-13 10:33] drewdotpro commented on #19
This is caused by Redactor setting it using JS, urgh. Why didn't they use a class!
Will add a new !important to fix this.

[2015-09-13 10:36] drewdotpro commented on #17
I think the transform applied here is done by NodeBB. I can't recreate the blurry effect on Firefox or Chrome though.

[2015-09-13 10:41] exomarty commented on #17
Its present on all browsers for me.
Just disable the transform css and you will see the difference.
And yes. Its done by nodebb but it doesnt seems to happen on composer default

[2015-09-13 14:55] #22 closed, assigned to nobody

[2015-09-13 14:58] drewdotpro commented on #19
Fixed

[2015-09-13 14:58] #19 closed, assigned to nobody

[2015-09-13 19:32] Errapolis commented on #22
Excellent, working perfectly in Firefox now.

[2015-09-14 09:36] exomarty commented on #17
seems solved in last version

[2015-09-14 12:39] exomarty opened #24 "Cant edit post"
Redactor not loading on post edit
tried previous commits and coudnt make it work
is it only me?

thank you

[2015-09-14 16:38] drewdotpro commented on #17
Closing then

[2015-09-14 16:38] #17 closed, assigned to nobody

[2015-09-14 16:40] drewdotpro commented on #24
I can without problem. Can you describe how to recreate? Or can I close?

[2015-09-14 16:42] drewdotpro opened #25 "Add Tagging"
The @ tagging would be a good addition.

[2015-09-15 09:51] #24 closed, assigned to nobody

[2015-09-16 13:20] exomarty commented on #25
must have++, plugin mentions should work with redactor :(

[2015-09-16 13:26] drewdotpro commented on #25
Opened issue on @julianlam 's plugin
https://github.com/julianlam/nodebb-plugin-mentions/issues/60

[2015-09-16 19:46] ricoud opened #26 "White background"
When using bootswatch dark skin (Cyborg, Darkly, etc) you can't see Heading (white text on white background).

[2015-09-27 15:45] drewdotpro commented on #11
Emoji support in place. Code highlighting is never going to work (use basic markdown composer if your site is for coding). Closing issue.

[2015-09-27 15:46] drewdotpro commented on #26
I didn't realise people were using skins any more. I think that feature's heading to pasture.
Will look into this.

[2015-09-29 03:48] ghost opened #28 "gif -> webm"
convert gif in to webm using ffmpeg(if installed)

[2015-10-13 18:12] Errapolis opened #29 "Firefox issue - posting"
I have found a bug in Firefox (which I can't replicate on Chrome, IE or Opera) - other users have reported it happening but I don't know what browser they use. I'm using the Persona theme on NodeBB, which is version 0.8.2.

After replying to a post or starting a new topic, I navigate to another topic, and try to click Reply. The "plus" button (used in Persona theme to hide/show the composer) appea

[2015-10-13 18:43] Errapolis opened #30 "Remove focus from Redactor & using Tab key"
I tried to explain this in the NodeBB forums but it probably looked confusing. There's two points.

First point:

When you go to begin a new topic on NodeBB with the _default_ composer, input is automatically focused on the Title field. You can then either tab to change categories and/or add tags, etc.

On Redactor composer, Redactor's text area itself is focused on. This means instead of the curs

[2015-10-14 15:19] codesoon commented on #29
Same in Firefox 41, 40 and etc.

[2015-10-27 10:43] ps1dr3x opened #32 "Emoticon on newline"
With redactor, when i add an emoticon i see it normally through the text in the editor, but when i post the message every emoticon is showed in a newline.

![temp](https://cloud.githubusercontent.com/assets/10249616/10755739/e0584632-7c9f-11e5-9da7-046ead19276e.png)

[2015-10-27 11:50] ps1dr3x commented on #32
Sorry i realised it was only a cache problem, not an issue

[2015-10-27 11:50] #32 closed, assigned to nobody

[2015-11-09 15:05] ghost opened #33 "upload image - large image cut off (not responsive)"
Uploading a large image, the image is cut off.

[2015-12-14 19:58] ricoud opened #34 "Emoji size"
Emojis (emoji-extended) are quite large when included in message. Is there a way to define emoji size?

[2016-01-05 19:01] Whipgit opened #35 "Signature images not working."
I'm not sure how to put an image in a user's signature while redactor is installed.

[2016-01-05 19:02] julianlam commented on #35
I believe the signature is per theme, and not determined via the composer

[2016-01-05 19:16] Whipgit commented on #35
To my knowledge, the only way to get an image in the signature is to use the !-[]-(url) markup system. But my redactor shows html tags in posts unless I disable the markup plugin.

So if I wanted the redactor plugin to work for the field where the signature is configured, I would do an import there or something?

[2016-01-05 19:54] julianlam commented on #35
What I mean is, it's in the theme template itself:

https://github.com/NodeBB/nodebb-theme-vanilla/blob/master/templates/topic.tpl#L113-L115

Persona doesn't have signatures, to my knowledge.

[2016-01-05 21:35] Whipgit commented on #35
It would help if I read the instructions for the redactor plugin correctly.
A mix and match of different settings caused a conflict.

All resolved!
Sorry for wasting your time and thanks for the insight.

[2016-01-06 03:34] Pappmann opened #36 "plugin poll not available"
nodebb-plugin-poll is not available

[2016-01-06 14:42] julianlam commented on #36
This is a separate plugin for NodeBB :smile:, what is your query?

[2016-01-06 21:59] Pappmann commented on #36
i know, poll is not dispayed in composer

for example, composer-default:
![image](https://cloud.githubusercontent.com/assets/16403474/12156072/02a10ce0-b4c9-11e5-90de-e9f41652e819.png)

[2016-02-15 08:58] shaaati commented on #26
This a really annoying bug. A custom dark skin also turns my normal text to a light grey (visible, but quite stressful to read) and hyperlinks are white on white and thus invisible.

[2016-02-24 22:51] psychobunny opened #37 "XSS in chat because markdown is required to be disabled"
The problem is that markdown sanitzes both posts and chat content, and so because redactor comes with it's own parser, markdown has to be disabled. I wonder if there's a way to make them both play nicely together...

Original issue:
https://github.com/NodeBB/NodeBB/issues/4092

[2016-03-04 06:28] Nisthar opened #38 "Not compatible with 0.9.4"
This is a nice plugin every forum needs. It would be nice if you could update it and make it compatible with 0.9.4.

[2016-03-09 09:13] Pilvinen opened #39 "Error after upgrading Nodebb to v1.0"
`9/3 11:12 [15788] - error: Error: Cannot find module './plugins'
    at Function.Module._resolveFilename (module.js:338:15)
    at Function.Module._load (module.js:280:25)
    at Module.require (module.js:364:17)
    at Object.<anonymous> (/home/minecraft/mynodebb/node_modules/nodebb-plugin-composer-default/library.js:3:29)
    at Module._compile (module.js:456:26)
    at Object.Module._extension

[2016-03-09 12:55] codesoon opened #40 "Not working in NodeBB 1.0.0"
Not working in NodeBB 1.0.0

[2016-03-09 19:58] codesoon commented on #40
Now everything is OK.

[2016-03-09 19:58] #40 closed, assigned to nobody

[2016-03-10 14:19] Pilvinen opened #41 "Redactor 1.4.0 doesn't show up when making a new thread"
**NodeBB** v1.0.0
**Redactor** 1.4.0

When you try to start a new thread Redactor editor pops up and then after 0.5 seconds on the screen it promptly hides itself.

You can then click the big red + sign on the lower right to make it pop up again for 0.5 seconds and then hiding itself again.

If you start banging random keys ie. "dddddddddd" etc. while the editor is on the screen for the 0.5 second

[2016-03-10 14:21] Pilvinen commented on #41
I would like to add that this does not happen when replying to a thread that already exists.

[2016-03-11 15:42] julianlam commented on #39
Should be resolved now.

[2016-03-11 15:42] #39 closed, assigned to nobody

[2016-03-17 10:19] ghost opened #42 "Redactor 1.4.0 Textarea too small & Window size function dosen't work"
**NodeBB** v1.0.0
**Redactor** 1.4.0

My Version has 2 Bugs:
1. You can not rezise/size the "editor" window
2. The Textarea is too small
![eklvdab](https://cloud.githubusercontent.com/assets/16371655/13843035/b66b2374-ec31-11e5-942b-7c9d20875d44.png)

[2016-03-20 14:04] ghost commented on #42
**I have fix the problem by edit the template:
I replace:**
`<div class="composer">` **with**
`<div component="composer" class="composer resizable" style="visibility: inherit;">
`

[2016-03-20 14:04] #42 closed, assigned to nobody

[2016-04-07 19:55] Captain1 opened #44 "Please add preview window; Can not see contents on the bottom when editing"

[2016-04-07 20:02] julianlam commented on #44
... but Redactor is WYSIWYG :smile:

[2016-04-20 14:07] #44 closed, assigned to nobody

[2016-07-12 08:29] codecowboy opened #45 "Latest supported NodeBB version"
I am thinking of upgrading my NodeBB install to 1.0.3. Does the redactor composer work with that version?

[2016-07-16 15:48] insuusvenerati commented on #45
It's working on 1.1.0 for me so far.

[2016-07-18 00:00] julianlam commented on #45
Thanks @insuusvenerati for verification :smile:

[2016-07-18 00:00] #45 closed, assigned to nobody

[2016-07-22 02:33] vctfernandes opened #46 "Topic Thumbnail"
Hi guys,

I'm using NodeBB with Persona and I realized that I can't upload topic thumbnails when using redactor. Is there a way for doing it?

Thanks!

[2016-07-29 10:50] gdjam commented on #46
I think topic thumbnail is very necessary for some site too, looking forward that redactor composer can support~

Thanks~~!!! 👍

[2016-08-03 15:04] #46 closed, assigned to nobody

[2016-08-06 19:06] yariplus commented on #36
Soon :tm:

[2016-08-08 17:26] yariplus opened #50 "[nbb 1.1.1] Uploads no workie."
Redactor doesn't know the `cid` when it sends an upload, so it's undefined and causes a privilege error.

[2016-08-08 19:27] yariplus commented on #50
This can be fixed by appending a hidden field. PR incomming.

[2016-08-10 17:17] #36 closed, assigned to nobody

[2016-08-22 18:36] deiden26 opened #52 "No autocomplete of @ mentions"

[2016-08-22 18:36] deiden26 opened #53 "No autocomplete of emoji"

[2016-08-22 18:43] deiden26 opened #54 "Displays double submit dropdown buttons when used with the Question and Answer plugin"
Default Composer
![screen shot 2016-08-22 at 11 43 20 am](https://cloud.githubusercontent.com/assets/2993523/17867044/ababe376-685d-11e6-90aa-0fff7adfc27a.png)

Redactor
![screen shot 2016-08-22 at 11 41 47 am](https://cloud.githubusercontent.com/assets/2993523/17867050/b40c3066-685d-11e6-896a-e20ded9e4901.png)

[2016-08-25 11:04] frndxyz opened #55 "imgur image upload not working.."

[2016-08-29 05:41] yariplus commented on #55
Possibly dupe of #50

[2016-08-30 04:03] frndxyz commented on #55
its working now, thanks.. @yariplus

[2016-08-30 20:06] #50 closed, assigned to nobody

[2016-08-31 18:23] yariplus commented on #37
I don't see how this is an issue.

The same problem happens in default composer if markdown allows html.

It's not the composer's job to police XSS where the composer has no involvement.

Either add basic XSS prevention in core, or require the sanitizehtml plugin to be installed.

[2016-09-01 01:27] psychobunny commented on #37
Well,
1. markdown has a warning in ACP against allowing HTML
2. anybody using this plugin has the right to know that they will be susceptible to XSS via chats

That said, you're right in the sense that it may not be this plugin's issue to fix. So maybe having a warning in the README and then move this issue back to core is the right thing to do?

[2016-09-01 01:33] yariplus commented on #37
Yes, that definitely sounds good.

I would even consider adding a link to sanitizehtml in the markdown html warning. Although I still think adding basic XSS protection in core is the best solution.

[2016-09-01 22:22] #38 closed, assigned to nobody

[2016-09-01 22:22] #55 closed, assigned to nobody

[2016-09-06 13:28] binoalien commented on #53
https://github.com/binoalien/nodebb-plugin-composer-redactor

[2016-09-06 13:39] julianlam commented on #53
@binoalien Please open a pull request for it 😄

https://github.com/binoalien/nodebb-plugin-composer-redactor/pull/new/master

[2016-09-06 14:23] binoalien commented on #53
@julianlam i have do this, now

[2016-09-06 14:41] julianlam commented on #53
TYVM 😄

[2016-10-22 04:09] sjennison opened #58 "Pasting images does not work"
Attempting to paste an image results in a Javascript error
![image](https://cloud.githubusercontent.com/assets/5776850/19616821/c2afb1fc-97eb-11e6-8d4f-8abfc1e0acdf.png)
and no image being pasted into the composer. This does not happen on the default composer.

[2016-10-27 18:30] psychobunny commented on #26
This seems to be fixed now

[2016-10-27 18:30] #26 closed, assigned to nobody

[2016-10-31 18:42] julianlam opened #59 "Integrate Redactor II"
We've received a new Redactor version from @drewdotpro, and it needs to be integrated properly into this plugin.

So far there are some breaking changes, including (but not limited to):

* No more .setAwesome(), so all plugins with Redactor integration need fixing (/cc @yariplus )
* Changes in API as per their new doc (things like focus, insertNode, etc...)
* Emoji plugin not at all compatible any

[2016-10-31 18:43] julianlam commented on #59
Instead of `.setAwesome`, I got it working for topic thumbs with this line: https://github.com/NodeBB-Community/nodebb-plugin-composer-redactor/blob/redactor-ii/static/lib/redactor.core.js#L77

Though we could consider using the Iconic plugin by Redactor: https://imperavi.com/redactor/examples/buttons-default-icons/

Though... it didn't seem to work when I added it, so perhaps there are some chang

[2016-10-31 19:01] julianlam commented on #59
Also @exomarty your custom emoji **cannot** be added to this repo. They show up on everybody's redactor installation, which is bad. Correct course would be to fire off a plugin hook so other plugins (namely, your theme) can define their own emoji.

... also `psyduck.gif`? Let's not get sued by Nintendo 😄

[2016-10-31 20:44] exomarty commented on #59
My custom emoji plugin was not finished. Those .gif were only as example
Main icons were the emojione pack

It shoudnt be hard to update it to make it work with new version
This was the main plugin https://github.com/Nevon/redactor-emoticons

Also very happy to see redactor updated

[2016-10-31 20:51] julianlam commented on #59
Good to know @exomarty -- would it be possible to integrate with emoji-extended instead of using the redactor plugin?

[2016-10-31 23:10] exomarty commented on #59
I guess emoji extended already have emojione pack
https://github.com/NodeBB-Community/nodebb-plugin-emoji-one

[2016-12-10 12:42] Cavesnakes opened #60 "Can't scroll below"

[2016-12-19 22:26] Pilvinen opened #61 "Add link button doesn't do anything"
Redactor 1.4.15
Nodebb 1.4.1

[2016-12-19 22:29] Pilvinen opened #62 "Composer window sizing doesn't work as expected"
It looks like this:
![](https://snag.gy/dA6lsR.jpg)
Which is not normal. When I start typing it stretches as I type. Scrolling doesn't work.

[2016-12-19 22:33] Pilvinen commented on #61
Oh. And the same goes with "formatting", "table" and "alignment" buttons.

[2017-01-02 09:28] frndxyz commented on #62
you can fix it by replacing this line in :  "nodebb-plugin-composer-default/static/lib/composer/resize.js"
 $window.trigger('action:composer.resize',
{
containerHeight : postContainer.height() - 120
});

though its not a proper solution, but scrolling works and editor resize when you put content inside.

[2017-01-02 16:01] julianlam commented on #62
Can you reproduce @pitaj?

[2017-01-02 19:36] pitaj commented on #62
What browser?

Also, what version of this plugin and NodeBB?

[2017-01-02 19:43] pitaj commented on #62
Unable to repro in FF or Chrome

[2017-01-03 05:03] frndxyz commented on #62
@pitaj NodeBB V1.4.2, plugin version : 1.4.15

[2017-01-03 05:26] pitaj commented on #62
Try `./nodebb stop && ./nodebb build && ./nodebb start`

[2017-01-05 04:54] frndxyz commented on #62
@pitaj it doesn't seems to fix the issue.

[2017-01-05 19:32] pitaj commented on #62
Is your forum public? I don't think I can diagnose this without direct access to it.

[2017-01-05 19:38] julianlam commented on #62
Actually, should be resolved with latest commit to this plugin.

[2017-01-05 19:39] Pilvinen commented on #62
You can test it at my forum here: https://foorumit.maailmanloppu.fi

[2017-01-08 07:51] frndxyz opened #63 "image upload not working with imgur"
Return 403 Forbidden.

[2017-01-10 11:13] Pilvinen commented on #62
I'm still having this issue with Nodebb v1.4.2, Redactor v2.0.1, Chrome 52.0.2743.82 (64-bit). But I highly doubt that it would be browser specific since all my forums users are having the same problem.

https://foorumit.maailmanloppu.fi

[2017-01-10 12:48] julianlam commented on #62
Plugin version?

[2017-01-10 12:50] Pilvinen commented on #62
Like I said above Redactor v2.0.1

[2017-01-10 20:47] julianlam commented on #63
@baris may be resolved already today as of 3a1a7f5b4859a5d989f8a91e0de22901fd052bca

@frndxyz Can you try latest version and see?

[2017-01-10 23:33] pitaj commented on #62
This should be fixed in the latest version. Try updating to v2.0.3

[2017-01-11 10:08] Pilvinen commented on #62
Unfortunately this does not seem to be the case.

1) Updated to v2.0.3.
2) Shut down and restarted Nodebb just to be on the safe side.
3) Still the same issues.

- Does not scroll.
- The editor window is smaller than it's supposed to be.

Screenshot:

![](https://snag.gy/FZ1jxD.jpg)

[2017-01-11 21:33] pitaj commented on #62
Did you try the `./nodebb build` thing I suggested before?

[2017-01-12 11:03] Pilvinen commented on #62
Yes. It didn't work. But I tried again and did git pull even though there should be no updates and after that ran ./nodebb build again and that did the trick.

It seems to work now. Thank you.

[2017-01-13 00:14] paviro commented on #61
It does work for me but the added Links are not clickable anywhere but in the editor 🤷‍♂️

[2017-01-13 00:23] paviro opened #64 "Tables / Links / Lists not shown"
Seems like none of the features I tried in the editor are actually showing up in the saved post. I created a table (looked perfectly in the editor) and in the post I just had the text. Same with links none are clickable. Lists also end up as text only.

[2017-01-13 00:25] psychobunny commented on #64
Hello, have you disabled both markdown and default composer plugins?

[2017-01-13 00:26] paviro commented on #64
Thanks for your quick reply! :)
Markdown is enabled but the HTML function is turned on as stated in the README. Default composer is disabled. I have SanitizeHTML installed but the used tags are allowed.

[2017-01-13 05:11] lijiang0327 opened #65 "Table --> Isert row above , report an error"
`Uncaught TypeError: t.size is not a function`
The jquery version is '3.1.0'.
`size() was deprecated years ago and removed in version 3 ... use length instead`

[2017-01-19 19:20] JonathanWatkins opened #66 "Redactor-composer seems to have changed"
I have just updated to 1.4.2. Any ideas why my redactor composer looks like this now?
<img width="1403" alt="screen shot 2017-01-19 at 19 18 11" src="https://cloud.githubusercontent.com/assets/1997938/22121517/58c5ed10-de7c-11e6-9d71-fa1ac8dd2971.png">

[2017-01-19 19:21] julianlam commented on #66
Doesn't look like anything to me...

😛  Seriously though, that looks ok?

[2017-01-19 19:28] pitaj commented on #66
Are you referring to the "Replying to ..." text missing, or what?

[2017-01-19 19:35] JonathanWatkins commented on #66
Sorry I wasn't very clear. It used to look like this
<img width="894" alt="screen shot 2017-01-19 at 19 34 48" src="https://cloud.githubusercontent.com/assets/1997938/22122098/7ac79e20-de7e-11e6-919a-3c2e935b9ea1.png">

[2017-01-19 19:36] JonathanWatkins commented on #66
I can't manually edit html for example

[2017-01-19 19:53] julianlam commented on #66
Yes, I believe the tagging is at the bottom now, and the toolbar options have changed as we've updated to the newest version of Redactor, which does not have the same plugins as the old.

[2017-01-19 20:03] JonathanWatkins commented on #66
Sorry to post here again but I have been trying to uninstall and install the composers and now I see this on the console.

nodebb.min.js?2b902572-9711-435a-91d8-7c8e4ec8c093:20 Uncaught TypeError: Cannot read property 'newTopic' of undefined
    at nodebb.min.js?2b902572-9711-435a-91d8-7c8e4ec8c093:20
    at dispatch (nodebb.min.js?2b902572-9711-435a-91d8-7c8e4ec8c093:2)
    at m.handle (nodebb.mi

[2017-01-19 20:06] JonathanWatkins commented on #66
If I run ./nodebb dev I see these warnings

19/1 20:04:16 [24049] - warn: [plugins/load] File not found: /home/ec2-user/nodebb/node_modules/nodebb-plugin-composer-default/static/lib/composer.js (Ignoring)
19/1 20:04:16 [24049] - warn: [plugins/load] File not found: /home/ec2-user/nodebb/node_modules/nodebb-plugin-composer-default/static/lib/composer/autocomplete.js (Ignoring)
19/1 20:04:16 [24049]

[2017-01-19 20:09] JonathanWatkins commented on #66
Just rand ./nodebb upgrade again. That seems to have helped with the file not founds an newTopic undefined.

I'll look into the changes to redactor. I may use the old version since I can't see and edit html button which is useful.

Thanks

[2017-01-19 20:13] JonathanWatkins commented on #66
I see what has happened with redactor. I need to add the source code plugin to redactor to get the html edit back. Any ideas how to do this in NodeBB?

https://imperavi.com/redactor/plugins/source/

[2017-01-19 20:15] JonathanWatkins commented on #66
Never mind. It says in the post I just sent you. :)

[2017-01-19 20:15] JonathanWatkins commented on #66
<script src="/js/redactor/plugins/source.js"></script>

    <script type="text/javascript">
    $(function()
    {
        $('#redactor').redactor({
            plugins: ['source']
        });
    });

[2017-01-19 21:35] exomarty commented on #66
i bet that new text icons would be horrible on mobile
it is possible to get back to simple icons
https://imperavi.com/redactor/examples/buttons-default-icons/

[2017-01-20 16:11] julianlam commented on #66
Hi @JonathanWatkins -- the source editing has been removed as it was easy to input incorrect html which would cause the NodeBB template to break. We've elected to keep it out until some sort of automatic html validator is implemented, but that is low priority for us.

If you want to use the source plugin, you can definitely modify the `redactor.core.js` file to add the plugin in 👍  Just keep in mi

[2017-01-20 16:11] #66 closed, assigned to nobody

[2017-01-20 16:28] pitaj commented on #66
Could we add an admin setting to enable to HTML plugin?

[2017-01-20 17:13] julianlam commented on #66
No objections to that 👍

[2017-03-15 19:02] julianlam commented on #59
This is done now.

[2017-03-15 19:02] #59 closed, assigned to julianlam

[2017-03-15 19:02] julianlam commented on #52
Seems to work ok now.

[2017-03-15 19:02] #52 closed, assigned to nobody

[2017-03-15 19:02] julianlam commented on #53
Seems okay now.

[2017-03-15 19:02] #53 closed, assigned to nobody

[2017-05-29 17:30] #63 closed, assigned to barisusakli

[2017-08-08 05:09] tuxado opened #68 "Set the composer text direction rtl or ltr?"
Hi, How can i set the composer text direction on this plugin ?

It will be good to set it  directely from language setting of the nodebb

[2017-08-09 02:08] tuxado commented on #68
resolved by hacking in redactor.core.js and plugins.json file by adding the translation and text direction

[2017-08-09 03:14] julianlam commented on #68
Haven't had time to look into this but should be easy to determine from the rtl property on the html tag. Can you share your changes?

[2017-08-10 23:08] tuxado commented on #68
hi,

These are the sources codes for the changes you can review thems

https://drive.google.com/file/d/0B4WEXAuiLIrVRUdrM3J0SGVkNWM/view?usp=sharing

composer.js

`var data = {
			title: title,
			mobile: composer.bsEnvironment === 'xs' || composer.bsEnvironment === 'sm',
			resizable: true,
			allowTopicsThumbnail: allowTopicsThumbnail,
			isTopicOrMain: isTopic || isMain,
			minimumTagLength: co

[2017-08-17 16:30] #68 closed, assigned to julianlam

[2017-08-17 16:30] julianlam commented on #68
v3.0.1

[2017-08-17 16:33] julianlam commented on #64
Please let me know if this still reproduces on latest Redactor, thanks.

[2017-08-17 16:33] #64 closed, assigned to nobody

[2017-08-17 16:33] #65 closed, assigned to nobody

[2017-08-17 16:33] #62 closed, assigned to nobody

[2017-08-17 16:34] julianlam commented on #61
Works in latest

[2017-08-17 16:34] #61 closed, assigned to nobody

[2017-08-17 16:34] julianlam commented on #60
Should work in latest

[2017-08-17 16:34] #60 closed, assigned to nobody

[2017-08-17 16:35] julianlam commented on #58
Tested working in latest

[2017-08-17 16:35] #58 closed, assigned to nobody

[2017-11-07 21:50] TroikaTronix opened #69 "Problems with NodeBB 1.6.1 (Selection Straddles to end of Previous Line)"
Hi There,
There are at least three bugs that are new for us since upgrading to NodeBB 1.6.1 a few days ago (We were several versions back with NodeBB previously.)

The details are in this NodeBB forum post.

https://community.nodebb.org/topic/11487/redactor-3-0-3-bugs-in-nodebb-1-6-1

Thanks for having a look.

Best Wishes,
Mark

[2017-11-09 20:09] julianlam commented on #69
Unfortunately cannot repro (as detailed in reply to post)

[2017-11-10 08:32] TroikaTronix commented on #69
Dear Julian,

I had to refine my repro for Bug 1, but after doing so, all three bugs were immediately reproducible on a fresh NodeBB site created at NodeBB.org. If you email me directly, I can give you the login info for that site.

Mac OS Desktop: Safari = all three bugs happen
Mac OS Desktop: Google Chrome = bugs 1 + 2 happen

Furthermore, the same tests performed on a Redactor test page

https:

[2017-11-14 20:29] julianlam commented on #69
Waiting on acquisition of latest Redactor code :smile:

[2017-11-28 21:01] julianlam commented on #69
Just an update -- no movement on acquiring latest Redactor code... 🕐

[2017-12-21 15:34] julianlam commented on #69
Closed via f7fac86c74eeba144fcdcd1f0f40f498de7408ed, v3.1.0

[2017-12-21 15:34] #69 closed, assigned to julianlam

[2017-12-21 16:19] julianlam commented on #69
@TroikaTronix Would appreciate giving v3.1.0 a test and reporting any regressions 😄

[2017-12-28 21:25] julianlam commented on #69
_bump_

[2017-12-28 22:30] TroikaTronix commented on #69
Hey there. I'm scrambling to release the new version of our software Isadora. I'll take a careful look as soon as I can.

[2017-12-28 23:22] julianlam commented on #69
😄 Of course, take your time. 'tis was only a lighthearted bump. Have a good holiday break

[2017-12-29 05:50] TroikaTronix commented on #69
We're getting the plugin installed on a testbed system on our server so we can find out more. I should be able to report to you in a few days.

[2018-02-18 06:59] aiiven opened #70 "Tenor GIF button not visible in the toolbar"
The button of Tenor GIF is not visible in the toolbar of Redactor composer.

[2018-02-18 14:58] #70 closed, assigned to nobody

[2018-02-18 14:58] julianlam commented on #70
Don't submit multiple issues, please.

[2018-03-26 10:40] Silvia-t opened #71 "Upload files not working with NodeBB 1.8.1"
I've recently upgraded NodeBB to version 1.8.1 and uploading files with the composer redactor doesn't work.

It shows the blue line at the top like it's uploading, but that's it.

Here's a screenshot showing that all the compatibility checks are passed.

![image](https://user-images.githubusercontent.com/23095224/37901752-31c3cdd8-30ea-11e8-8e4a-d49f11ce0c48.png)

I've had to revert back to the de

[2018-06-15 03:51] beerpromax commented on #71
Same problem as the uploading processes ends, there's no image showing in the text field. My nodebb version is 1.8.2 :/ have to revert

[2018-06-15 13:44] julianlam commented on #71
Please let me know your redactor plugin version... is it v3.3.0 or higher?

[2018-06-19 08:01] Silvia-t commented on #71
I upgraded to NodeBB v1.9.3 the other day and now the redactor (version 3.2.0, which seems to be the most recent one?) seems to be working fine :)

[2018-06-19 10:50] Silvia-t commented on #71
Actually, it's NOT working fine u.u

It did when I tested it earlier today but now it's not working again (which seems quite random)...

[2018-06-22 19:45] julianlam commented on #71
Yes, version v3.2.0 addresses a file upload issue. Are you running in a subfolder?

[2018-06-25 13:31] Silvia-t commented on #71
Hi @julianlam, I'm not too sure I understand about the subfolder? Do you mean NodeBB?

I've tried it again and it looked like I could upload anything when creating a new post, but on replying it wouldn't upload anything :(

[2018-06-25 13:48] julianlam commented on #71
@Silvia-t I mean, are you accessing NodeBB via a subfolder... e.g. http://example.com/forum ?

[2018-06-25 13:52] Silvia-t commented on #71
No, NodeBB is hosted in our server so I'm accessing it through http://forum.ourdomain.co.uk/

[2018-06-25 15:34] julianlam commented on #71
It seems I can upload regular files, but it does what you say when I try to upload an **image**... uploading images is a different button. Does this work now?

I agree that uploading an image via the file upload dialog should also work, so that's probably a bug. Just wanted to make sure we're all on the same page now

[2018-06-25 15:34] julianlam commented on #71
![selection_428](https://user-images.githubusercontent.com/923011/41860102-bf5dd6e8-786b-11e8-96f8-c4b340bc3257.png)

Use the former to upload images, use the latter for files.

[2018-06-26 13:35] Silvia-t commented on #71
Hi @julianlam, yes, I was aware that uploading images doesn't work through the file upload (although I agree with you in the sense that it should work!).

Yesterday I could upload regular files, but only if it was in the first post. Nothing would attach in a reply.

Anyway, I'm off for over a week now so excuse my silence in the meantime! :P

[2018-08-09 16:29] dongcai opened #72 "autocomplete drop-down of @mention shown during composing"
When I start writing a reply with a mention, for example, @someone, then during my composing, the drop-down keeps on popping up even I don't use '@'.
The screenshot attached..
<img width="429" alt="composer" src="https://user-images.githubusercontent.com/3952761/43912218-a503c636-9bcf-11e8-8204-bae4c8eefc67.png">

[2018-10-11 18:00] jdutriaux opened #73 "Error on Internet Explorer"
Hello, when one of my user try to write a message on Internet Explorer he get this error :

[code]

He is now using another browser but I juste wanted you to know this issue =).

Thanks,
Halfman.

[2018-12-10 08:39] yoyoyohamapi commented on #72
+1, same issue

[2018-12-11 02:10] pig315 commented on #72
+1 the same

[2019-01-02 12:40] PostMidnight opened #74 "File Upload Error Handler"
Hello Devs,

Upon file upload error (for example: file too big, Invalid mime type), redactor fails and does not recover. To reproduce - add a hook with:

`{ "hook": "filter:uploadFile",          "method": "myUploadFile", "priority": 6 }
`
In myUploadFile just return an error for example:

`return callback(Error('myError'));
`
Redactor fails in line 10697 here:

`xhr.send(formData);
`
Since errors

[2019-01-04 20:36] julianlam commented on #74
Yeek -- that's redactor code. Unfortunately we can't edit this because that's vendor code, and we also don't support it for that same reason.

Sadly because we cannot update to latest Redactor, I recommend people try to work around the issue for now, until an alternative (Quill composer being in active development at the moment) is completed.

[2019-01-04 20:36] #74 closed, assigned to nobody

[2019-01-05 09:05] PostMidnight commented on #74
Wow too bad. In nodebb-quill we had a similar issue but it was resolved with an error handler I remember. Will you have some time to get back to Quill development soon? the plugin is almost release worthy.

[2019-01-28 15:56] julianlam commented on #72
Seems this shows up only if the mention is at the beginning of the post, and only after you hit spacebar, is that correct?

[2019-01-28 18:07] julianlam commented on #72
Please try latest `master` of NodeBB with composer-default v6.2.0

[2019-01-28 18:07] #72 closed, assigned to julianlam

[2019-04-21 17:26] esenjin opened #75 "Change the color of the text."
Would it be possible to add an option to change the color of a part of the text?

[2019-05-06 02:03] yoyoyohamapi opened #76 "XSS Problem"
Someone can insert following code through chrome dev tools

[code]

into the editor to do a xss attack.

![屏幕快照 2019-05-06 上午10 00 27](https://user-images.githubusercontent.com/8338436/57203925-8d94a100-6fe6-11e9-982c-111171de459e.png)

![image](https://user-images.githubusercontent.com/8338436/57203890-3bec1680-6fe6-11e9-8d2c-1cf046e1158e.png)

[2019-05-06 19:42] julianlam commented on #76
Hi there,

Yes, chrome dev tools allows you to do a lot of things, including do things like this, but this doesn't count as a vulnerability as it requires the end user to do it to themselves via the dev tools.

[2019-05-13 03:25] yoyoyohamapi commented on #76
I'm afraid you may misunderstand. I mean, I can **insert attack code into the editor** through dev tools，then I can post it to do a stored xss attacking. Anyone visit this topic would see the alert. @julianlam

[2019-05-13 05:08] psychobunny commented on #54
This should be fixed as of latest Q&A plugin, though if not please reopen there instead :)

[2019-05-13 05:08] #54 closed, assigned to nobody

[2019-05-13 05:09] psychobunny commented on #73
This isn't an IE (or browser, really) related problem, the error suggests that NodeBB was not built properly (`./nodebb build` was not run after a plugin install, etc)

Sorry for the late reply!

[2019-05-13 05:09] #73 closed, assigned to nobody

[2019-05-14 18:51] #76 closed, assigned to nobody

[2019-05-14 19:21] julianlam opened #77 "Mobile composer header bar broken"
`display: flex;` not properly inherited, or rather, is overridden by `hidden-xs`.

[2019-05-14 19:21] #77 closed, assigned to julianlam

[2019-08-03 20:41] dongcai commented on #71
Not very sure why. But installing 'sharp' fixes my issue, like below:
`npm install --build-from-source sharp`
BTW, I am running NodeBB 1.12.1

[2019-08-24 04:03] uzzT opened #78 "Is there any hook or api for us to add a custom toolbar button?"
https://github.com/NodeBB-Community/nodebb-plugin-composer-redactor/pull/16
According to this PR, we can add button by method $.Redactor.addButton
but now i cannot find the method on branch master, am i missing something?
Is there any hook or api for us to add a custom toolbar button?

like this hello button:
![image](https://user-images.githubusercontent.com/34025908/63633684-bc5e8200-c67e-11e9-9

[2020-06-08 11:51] vhendin opened #79 "Mentions don't work in Safari"
Entering a @ into the composer doesn't open the autocomplete list. Doesn't work in Safari on MacOS or iOS.

[2020-06-08 12:13] julianlam commented on #79
Thanks for reporting, unfortunately Redactor composer plugin is EOL since they do not provide a free nor paid version for open source.

Quill is the recommended WYSIWYG composer now, if you want to give that a try.

[2020-06-08 12:52] vhendin commented on #79
@julianlam I actually did some digging myself and I think Safari is having trouble with _jQuery.on('keyup'_. I'm not sure this is the root cause but I couldn't make that work.

I found that issue in the default composer, so maybe not even an issue for this composer at all.

[2020-10-01 15:54] vhendin opened #80 "Fileupload no longer possible since NodeBB 1.13.4"
I understand that you no longer support updates to this composer and I'm actively looking at supporting quill instead, but since [this commit](https://github.com/NodeBB/NodeBB/commit/6f504c4142d7584cdfe9347cd5cf183c655e2159), it is no longer possible to upload files.

The setting allowFileUploads has been removed and Redactor toolbar uses this setting to check if the button should be added, [here]

[2021-01-10 18:10] floufille opened #81 "Incompatibility with last version of nodebb 1.16.1"
Configuration:

nodebb version: 1.16.1
nodebb-plugin-composer-default: 6.5.5 (deactivated)
nodebb-plugin-composer-redactor: 3.4.7 (activated)

Description:

When we want to write a new POST, the popup seems to be truncated
![image](https://user-images.githubusercontent.com/36710813/104131517-1563ae80-5377-11eb-8572-cb0dac2d9e15.png)

I've noticed, there is a javascript error: screenfull is not def

[2021-01-12 14:16] #81 closed, assigned to nobody

[2021-01-12 14:16] julianlam commented on #81
Thanks for reporting! :smile:

[2021-04-21 19:24] julianlam commented on #80
This has now been resolved as of v3.5.0

[2021-04-21 19:24] #80 closed, assigned to julianlam

[2022-07-08 12:37] cisnerosebastian commented on #79
@vhendin were you able to fix this issue on your side?

[2022-10-11 07:17] vhendin commented on #79
No I did not. I migrated to Quill.

Den fre 8 juli 2022 kl 14:38 skrev Sebastian Cisneros <
***@***.***>:

--
Vänligen,

Magnus Vhendin